.shrt_app {
    margin-top: 35%;
}

.empty {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
}
p {
    text-align: center;
    color: #FF9B8C;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
}